<mat-card>
    <div *ngIf="response && !loading" class="d-flex flex-column justify-content-center align-items-center">
        <mat-icon class="success-icon">thumb_up</mat-icon>
        <h1 class="success-header">Success</h1>
        <p>
            Successful response for {{authRoute}} route!
        </p>
        <p>
            Your LinkedIn name is <b><u>{{response.name}}</u></b>
        </p>
        <div class="w-100">
            <hr/>
        </div>

        <button mat-stroked-button [routerLink]="['']" class="mt-2">Back</button>
    </div>
    <div *ngIf="!response && !loading" class="d-flex flex-column justify-content-center align-items-center">
        <mat-icon class="failure-icon">report_problem</mat-icon>
        <h1 class="failure-header">Failed</h1>
        <p>
            Unsuccessful response for {{authRoute}} route!
        </p>
        <div *ngIf="error" class="d-flex flex-column text-center mt-4 mb-4">
            <b>Error Message</b>
            <code>
                {{error}}
            </code>
        </div>
        <div class="w-100">
            <hr/>
        </div>

        <button mat-stroked-button [routerLink]="['']" class="mt-2">Back</button>
    </div>

    <div *ngIf="loading" class="d-flex flex-column justify-content-center align-items-center">
        <mat-spinner></mat-spinner>
    </div>


</mat-card>
