.linkedin-brand-button {
    background-color: white;
    //border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    color: rgb(40, 103, 178);
}

b {
    font-size: 1.2em;
}

.more-info {
    background-color: #FFF3CD;
    padding: 25px;
}
