<section id="home">
    <div *ngIf="!configured else main">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>
    <ng-template #main>
        <div class="more-info">
            <p>
                Make sure to follow the installation instructions on the LinkedIn OAuth marketplace extension page
                within
                Xano. You will need to get a client id and client secret from LinkedIn and populate it within your Xano
                account.
            </p>
            <p>
                For this demo, you will need to populate the authorized redirect URI within your OAuth client ID with
                the
                following value:
            </p>
            <code>{{redirectUri}}</code>
            <p class="pt-2">
                This value would change to your own hostname if you were using this extension within your own
                project.
            </p>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between pr-lg-5 pl-lg-5">
            <div class="text-center mt-4">
                <b>Login with LinkedIn</b>
                <p class="mt-2">Account must already exist</p>
                <button mat-stroked-button class="linkedin-brand-button" (click)="initLinkedIn('login')">
                    <img src="assets/images/LI-In-Bug.png" width="40px">
                    <b class="ml-2">Login with LinkedIn</b>
                </button>
            </div>
            <div class="text-center  mt-4">
                <b>Sign up with LinkedIn</b>
                <p class="mt-2">Account must not exist</p>
                <button mat-stroked-button class="linkedin-brand-button" (click)="initLinkedIn('signup')">
                    <img src="assets/images/LI-In-Bug.png" width="40px">
                    <b class="ml-2">Sign up with LinkedIn</b>
                </button>
            </div>
            <div class="text-center  mt-4">
                <b>Continue with LinkedIn</b>
                <p class="mt-2">Sign up or Sign in</p>
                <button mat-stroked-button class="linkedin-brand-button" (click)="initLinkedIn('continue')">
                    <img src="assets/images/LI-In-Bug.png" width="40px">
                    <b class="ml-2">Continue with LinkedIn</b>
                </button>
            </div>
        </div>
    </ng-template>
</section>
